@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 10px;
}

/*header , nav bar, logo*/

.header-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('https://i.imgur.com/8m3NyEC.jpg');
    background-position: 10% 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 80px;
    width: 60%;
    margin-top: 20px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
    border-radius: 50px;
    
}

.logo {
    width: 150px;
    height: auto;
}

.navbar {
    display: inline-block;
    list-style-type: none;
    color: #242f62;
    font-size: 25px; 
    margin-left: 30px;
}

.form-connect {
    background: #242f62;
    border-radius: 50px;
    color: white;
    padding: 10px;
}

.navbar:hover { 
    cursor: pointer; 
}


/*header-text and info*/

.header-text-wrapper {
    width: 60%;
    margin: 0 auto;
    height: 40vh;
    
    /*mix-blend-mode: screen;*/
    
}

.header-text-top h1 {
    font-size: 5em;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.header-text-top p {
    font-size: 2em;
    color: white;
}

.header-text-mid {
    margin-top: 10em;
}

.header-text-mid input {
    font-size: 2em;
    background-color: chocolate;
    padding: 0.3em 0.6em;
    color: white;
    border-radius: 50px;
}    

.header-text-bottom {
    width: 60%;
    height: 12em;
    margin-top: 10em;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.header-text-bottom div {
    height: 12em;
    width: 20em;
    
    margin-bottom: 2em;
}

.header-text-bottom h3 {
    font-size: 3em;
    margin-left: 0.5em;
}

.header-text-bottom p {
    font-size: 1.8em;
    margin-left: 0.5em;
}

/*highlight info - two sections*/

.info-highlight-wrapper {
    width: 100vw;
    height: 100vh;
}

.info-highlight-wrapper-chocolate {
    background: chocolate;
    width: 60vw;
    height: 40vh;
    margin: 100px 200px 10px auto;
    margin-top: 100px;
    border-radius: 10px;
    float:right;
    display: flex; 
    justify-content: center;
}

.info-highlight-wrapper-navy {
    width: 60vw;
    height: 40vh;
    margin: 10px auto 100px 200px;
    background: #242f62;
    border-radius: 10px;
    float: left;
    display: flex; 
    justify-content: center;
}


.info-highlight-left {
    height: 40vh;
    width: 12vw;
    color: white;
    margin-left: 200px;
}

.info-highlight-left h3 {
    font-size: 4em;
    margin-top: 60px;
}

.info-highlight-left p {
    font-size: 2.3em;
    margin-top: 20px;
}

.info-highlight-right {
    height: 40vh;
    width: 40vw;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.info-highlight-right-top, .info-highlight-right-bottom {  
    width: 15vw;
    height: 18vh;
    background: white;
    border-radius: 10px;
    padding: 50px;
    line-height: 4em;

}

.info-highlight-right-top h3, .info-highlight-right-bottom h3 {    
    font-size: 2.2em;
    color: #242f62;
}

.info-highlight-right-top ul li, .info-highlight-right-bottom ul li {
    font-size: 1.5em;
    margin-left: 20px;
}


/*calculator*/

.calculator-outer-wrapper {
    width: 100vw;
    height: 70vh;
    background:rgb(236, 235, 235);
    
}

.calculator-outer-wrapper h2 {
    text-align: center;
    font-size: 5em;
    letter-spacing: 2px;
    padding: 2em;
}

.calculator-inner-wrapper {
    width: 40vw;
    height: 40vh;
    background: white;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
    margin: 0 auto;
    border-radius: 10px;
}

.calculator-inner-wrapper h2 {
    text-align: center;
    font-size: 2em; 
    color: #242f62;
    font-weight: bold; 
}

.calculator-outer-wrapper h5 {
    text-align: center;
    font-size: 3em;
    color: chocolate;
}

.calculator-bottom-wrapper {
    width: 40vw;
    height: 15vh;
    position: relative;
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.calculator-bottom-wrapper-left, .calculator-bottom-wrapper-right { 
    height: 14vh;
    width:  15vw;
    text-align: center;
}  

.calculator-bottom-wrapper-left h3, h4 .calculator-bottom-wrapper-right h3, h4, h3 {
    font-size: 2.5em;
}

.calculator-bottom-wrapper-left p, summary {
    font-size: 1.5em;
    color: chocolate;
}

.calculator-bottom-wrapper-left p {
    font-size: 1.5em;
    color: chocolate;
    width: 30em;
}

.calculator-bottom-wrapper-left p:hover {
    background: white;
    font-weight: bold;
    padding: 1em;
}

.calculator-bottom-wrapper-right input {
    background: chocolate;
    padding: 0.2em 1.2em;
    font-size: 1.8em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-top: 1em;
}


/*card-grid section */

.grid-section-header {    
    font-size: 50px;
    text-align: center;
    margin: 70px auto;
    color: chocolate;
}

.mid-section {
    height: 50vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.mid-section div {
    height: 25vh;
    width: 30%;
}

.first-row {
    margin-top: 30px;
    margin-left: 30px;
}

.second-row {
    margin-right: 30px;
}

.mid-section h3 {
    font-size: 20px;
    color: chocolate;
}

.mid-section i {
    font-size: 25px;
    margin-left: 5px;
    color:#242f62;
}

.mid-section p {
    font-size: 18px;
}

.mid-section input[type="submit"] {
    position: absolute;
    font-size:20px;
    bottom: 70px;
    border: 2px solid chocolate;
    background-color: white;
    color: chocolate;
    padding: 0.3em;
     border-radius: 50px;    
}

/*contact section*/

.contact-section-wrapper {
    width: 60vw;
    height: 25vh;
    border: 1px solid red;
    margin: 20px auto;
}

