@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 10px;
}


section {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/*header , nav bar, logo*/

.header-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://i.imgur.com/8m3NyEC.jpg');
    background-position: 10% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid red;
}

header {
    height: auto;
    width: 100%;
   margin-top: 20px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
   /* border-radius: 50px;*/
    
}

.logo {
    padding-top: 10px;
    width: 150px;
    height: auto;
}

.navbar {
    display: inline-block;
    list-style-type: none;
    color: #242f62;
    font-size: 1.7em;
    margin: 10px;
}

.form-connect {
    background: #242f62;
    border-radius: 50px;
    color: white;
    padding: 0.5em;
}

.navbar:hover { 
    cursor: pointer; 
}


/*header-text and info*/

.header-text-wrapper {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border: 1px solid red;
    text-align: center;
    /*mix-blend-mode: screen;*/   
}

.header-text-top h1 {
    margin: 20px auto;
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
}

.header-text-top p {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.header-text-mid {
    margin-top: 3em;
}

.header-text-mid input {
    font-size: 1.2em;
    background-color: chocolate;
    padding: 0.3em 0.6em;
    color: white;
    border-radius: 50px;
}  

.header-text-mid input:hover {
    cursor: pointer;
}

.header-text-bottom {
    width: 100%;
    height: auto;
    /*margin-top: 10em;*/
    margin-top: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;  
}

/*.header-text-bottom div {
    height: 12em;
    width: 20em;
    margin-bottom: 2em;
}*/

.header-text-bottom h3 {
    font-size: 2em;
    margin-left: 0.5em;
}

.header-text-bottom p {
    font-size: 1.5em;
    margin-left: 0.5em;
    padding-bottom: 10px;
}

/*highlight info - two sections*/

.info-highlight-wrapper {
    width: 100%;
   
    height: auto;
    /*min-height: 1210px;*/
}

.info-highlight-wrapper-chocolate {
    background: chocolate;
    width: 99vw;
    height: auto;
    margin: 5% auto;
    /*margin: 2.5% 5% 10px auto;
    margin: 2.5% 5% 2% auto;*/
    
    border-radius: 10px;
    padding: 0 10px;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.info-highlight-wrapper-navy {
    width: 99vw;
    height: auto;
    margin: 0 auto;
    /*margin: 10px auto 100px 200px;*/
    /*margin: 0 auto 2% 5%;*/
    background: #242f62;
    border-radius: 10px;
    padding: 0 10px;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.info-highlight-left {
   /* width: 90vw;*/
   /* height: 500px;*/
    color: white;
    /*margin-left: 10%;*/
    padding: 0 10px;
    border: 1px solid red;
}

/*.navy-bottom {
    margin-left: 10%;
}*/

.info-highlight-left h3 {
    font-size: 2em;
    /*margin-top: 60px;*/
}

.info-highlight-left p {
    font-size: 1.2em;
    /*margin-top: 20px;*/
}

.info-highlight-right {
    height: auto;
    padding: 10px;
    /*width: 40vw;*/
    /*widthmargin-left: 10%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
}

.info-highlight { 
    height: auto;
    width: 336px; 
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
   /* padding: 4%;*/
    line-height: 3em;

}

.info-highlight h3 {    
    font-size: 2em;
    color: #242f62;
}

.info-highlight ul li {
    font-size: 1.2em;
    margin-left: 20px;
}


/*calculator*/

.calculator-outer-wrapper {
    width: 100%;
    padding: 10px;
    height: auto;
    /*min-height: 847px;*/
    background:rgb(236, 235, 235);
    border: 1px solid red;  
}

.calculator-outer-heading {
    width: 100%;
    height: auto;
    border: 1px solid red;
}

.calculator-outer-heading > h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    padding: 2em;
}

.calculator-inner-wrapper {
    width: 95vw;
    height: auto;

    background: white;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid red;
}

.calculator-inner-wrapper>h2 {
    text-align: center;
    font-size: 2em; 
    color: #242f62;
    font-weight: bold; 
}

.calculator-outer-wrapper>h5 {
    text-align: center;
    font-size: 3em;
    color: chocolate;
}

.calculator-bottom-wrapper {
    width: 90vw;
    height: auto;
    /*margin-top: 6em;
    margin-top: 8%;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid red;
}

.calculator-bottom-wrapper-left, .calculator-bottom-wrapper-right { 
    height: auto;
    width:  90vw;
    /*width: 400px;
    height: 178px;*/
    text-align: center;
}  

.calculator-bottom-wrapper-left h3, h4 .calculator-bottom-wrapper-right>h3, h4 {
    font-size: 2.5em;
}

.calculator-bottom-wrapper-left p, summary {
    font-size: 1.5em;
    color: chocolate;
}

.calculator-bottom-wrapper-left p {
    font-size: 1.5em;
    color: chocolate;
    width: 30em;
}

.calculator-price {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.calculator-bottom-wrapper-left p:hover {
    background: white;
    font-weight: bold;
    padding: 1em;
}

.calculator-bottom-wrapper-right input {
    background: chocolate;
    padding: 0.2em 1.2em;
    font-size: 1.2em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin: 1em;
}


/*big-card-grid section */

.grid-section-header {    
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    color: chocolate;
    border: 1px solid red;
}

.mid-section {
    height: auto;
    /*min-height: 693px;*/
    width: 99vw;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: relative;*/
}

.mid-section div {
    /*height: 25vh;*/
   /*width: 30%;*/
  /*  width: 20vw;*/
    width: 340px;
    margin: 20px auto;
}

/*.first-row {
    margin-top: 30px;
    margin-left: 30px;
}

.second-row {
    margin-top: 10px;
    margin-right: 30px;
}*/

.mid-section h3 {
    font-size: 20px;
    color: chocolate;
}

.mid-section i {
    font-size: 25px;
    margin-left: 5px;
    color:#242f62;
}

.mid-section p {
    font-size: 18px;
}

/*.mid-section-button-container {
    width: 100vw;
    height: 10vh;
   
}*/

/*.mid-section input[type="submit"] {
   position: absolute;
    font-size:20px;
    bottom: 70px;
    border: 2px solid chocolate;
    background-color: white;
    color: chocolate;
    padding: 0.3em;
    border-radius: 50px;*/    


/*contact section*/

.contact-section-wrapper {
    width: 100vw;
   padding: 10px;
    height: auto;
    /*min-height: 302.5px;*/
     margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.contact-section {
    height: auto;
    /*min-height: 121px;*/
   /* width: 20vw;*/
   padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid red;
    margin: 20px 0;
}

.contact-section-heading {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.contact-section i {
    font-size: 1em;
    color: #242f62;
    margin-right: 0.3em;
}

.contact-section span {
    font-size: 1em;
    background-color: chocolate;
    padding: 0.3em;
    border-radius: 50px;
    color: white;
}   
















/*this is where product page starts*/
/*hero image*/

.hero-image-container {
    width: 100vw;
    margin: 0 auto; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.info-container h2 {
    width: 90vw;
    margin: 35px auto;
    font-size: 2.5em;
    letter-spacing: 5px;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #242f62;;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color:#242f62;
    border-bottom: 1px solid #242f62;
}

.info-container h3 {
    width: 90vw;
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 2em;
    text-align: center;
    color: chocolate;
    font-family: 'Roboto', sans-serif;
    
}

.info-container p {
    width: 90vw;
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 2em;
    display: block;
    color: #242f62;
    border: 1px solid red;
}

.info-container input[type="submit"] {
    font-size: 1.5em;
    margin: 35px auto;
    padding: 0.4em 0.5em;
    border-radius: 50px;
    letter-spacing: 2px;
    background: chocolate;
    color: white;
    font-family: 'Staatliches', cursive;
}

.info-container input[type="submit"]:hover{
    cursor: pointer;
}

/*.img-container {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border:1px solid #242f62;
}*/

.img-container img {
    border-radius: 10px;    
    display: none;
    max-width: 700px;
}

/*cards, products*/

.cards-container {
    width: 100vw;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    max-width: 1133px;
    
}

.card {
    height: 300px;
    width: 360px;
    /*min-width: 300px;*/
    text-align: center;
    background: white;
    color: #242f62;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
    border-radius: 5px;
    margin: 10px auto;
}

.card h2 {
    font-size: 2em;
    padding: 10px;
    margin: 20px auto;
    color: chocolate;
}

.card hr {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    color: white;
}

.card p {
    display: block;
    text-align: justify;
    text-align: center;
    margin: 10px 20px;
    font-size: 20px;
    
}


/*mid section*/

.header-center {    
    font-size: 2.5em;
    text-align: center;
    margin: 70px auto;
    color: chocolate;
}

/*.mid-section {
    height: 50vh;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}*/

/*.mid-section>div {
    height: 25vh;
    width: 20vw;
    /*width: 30%;
}

/*.first-row {
    margin-top: 30px;
    margin-left: 30px;
}

.second-row {
    margin-right: 30px;
}

.mid-section h3 {
    font-size: 20px;
    color: chocolate;
}

.mid-section i {
    font-size: 25px;
    margin-left: 5px;
    color:#242f62;
}

.mid-section p {
    font-size: 18px;
}

/*.mid-section input[type="submit"] {
    /*position: absolute;*/
   /*font-size:20px;
    bottom: 70px;
    border: 2px solid chocolate;
    background-color: white;
    color: chocolate;
    padding: 0.3em;
    border-radius: 50px;
    
}*/


/*product-flow*/

.product-flow {
    width: 100vw;
    height: auto;
    /*min-height: 300px;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flow-info {
    height: 160px;
    /*min-height: 150px;*/
    width: 160px;
    
}

.product-flow p{
    display: block;
    text-align: center;
    font-size: 1.8em;
    color:#242f62;
    font-weight: bold;
    padding: 10px;
}

.one{
    border-top: 1px solid chocolate;
    border-left: 1px solid chocolate;
}


.two {
    border-top: 1px solid chocolate;
    border-right: 1px solid chocolate;  
}


/*.one p {
    padding-top: 4.5vh;
}*/













/*contact form*/
.contact {
    width: 100vw;
    height: auto;
    background: #242f62;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid red;
}

.contact-left {
    height: auto; 
    width: 290px;   
}

.contact-left h3 {
    font-size: 2.5em;
    padding-top: 50px;
    padding-bottom: 10px; 
}

.contact-left p {
    font-size: 1.5em;
    padding-bottom: 10px;
}


.contact-right input[type="submit"], input[type="text"], input[type="tel"]{
    display: block;
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    color: #242f62;
    padding: 10px;
    font-size: 18px;
}

.contact-right input[type="checkbox"] {
    margin-left: 40px;
    background:#242f62;
    border: #f4f0c9;
}


.contact-right label {
    font-size: 1.3em;
} 


/*small grid section*/

.small-grid-wrapper {
    width: 100vw;
    height: auto;
   /*margin: 1em auto 5em auto;*/ 
    display: flex;
    flex-direction: column;
}

.small-grid-box {
    width: 170px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    border: 1px solid red;
}  

.small-grid-box img {
    width: 80px;
}

.small-grid-box p {
    font-size: 1.6em;
    text-align: center;
}














/*contact-form-page*/

 /*form style*/

.form-container {
    width: 100vw;
    height: auto;
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1022px;
    
}

.form-text {
    width: 100vw;
    margin: 0 auto;
    height: auto;
    border: 1px solid red;
    max-width: 463px;
}   

.form-text>h1 {
    color: chocolate;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

.form-text>p {
    color: #242f62;
    font-size: 1.5em;
    text-align: justify;
    padding: 20px;
}

.outer-form-wrapper {
    width: 100vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}


.inner-form-wrapper {
    width: 90vw;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid red;
    max-width: 460px;
    
}

.inner-form-wrapper label {
    padding: 2em;
    font-size: 2em;
}

.inner-form-wrapper input, select, input, option {
    width: 95%;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.8em;
    margin: 10px;
}

.mid-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.mid-table-wrapper select, input {
    width: 80%;
}

.form-divider {
    width: 80%; 
    height: 2px;
    background: chocolate;
    margin: 2em auto;
}

input[type="submit"] {
    background: chocolate;
    color: white;
    font-size: 2em;
}

.form-checkbox {
    height: 100px;
} 











/*contact page*/

.three-contacts-outer-wrapper {
    width: 100vw;
    max-width: 2000px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
}

.three-contacts-inner-wrapper {
    width: 100vw;
    max-width: 467.91px;
    border: 1px solid red;
}

.three-contacts-inner-wrapper i {
    font-size: 1em;
    color:#242f62;
    padding: 10px;
}

.three-contacts-inner-wrapper>h4 {
    font-size: 2em;
}

.three-contacts-inner-wrapper>p {
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-left: 35px;
}

.contacts-map-section {
    width: 100vw;
    max-width: 2000px;
    margin: 0 auto;
    height: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacts-map-section img {
    width: 90vw;
    max-width: 700px;
}

.town-contacts-header {
    font-size: 2em;
    padding: 40px 0;
}

.town-contacts-card {
    max-width: 395.19px;
    box-shadow: 0px 0px 10px 3px rgb(201, 199, 199);
    border-radius: 50px;
    padding-left: 30px;
    margin: 10px 0;
    font-size: 2em;
    border: 1px solid red;
}

.town-contacts-card h5, p {
    font-size: 1.5em;
}

.three-contacts-outer-wrapper-bottom {
    width: 100vw;
    max-width: 2000px;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.three-contacts-inner-wrapper-bottom  {
    width: 90vw;
    max-width: 439.91px;
    height: auto;
    border: 1px solid red;
    margin: 20px 0;
}

.three-contacts-inner-wrapper-bottom input{
    background: white;
    border:1px solid #242f62;
    color: #242f62;
    font-size: 1.5em;
    width: auto;
    padding: 5px;
}


















/*footer*/

.footer-wrapper {
    width: 100vw;

    height: auto;
    /*min-height: 338.25px;*/
    border-top: 5px solid chocolate;
    background:#242f62;
    text-align: center;
}
 
.footer-top, .footer-bottom {
    width: 100vw;
    height: 12.5vh;
    border: 1px solid red;
    display: flex;
    justify-content:center;
    align-items:center;   
}

.footer-top-section {
    width: 100vw;
    height: auto;
    border: 1px solid red;
    margin: 0 auto;
   /* text-align: right;*/
    display:flex;
    justify-content:center;
    /*align-items:flex-end;*/
    flex-direction: column;
}

.footer-top-section span {
    font-size: 2em;
    color: white;
    display: block;
}


.footer-logo {
    width: 150px;
    margin:20px auto 0 auto;
}

.social {
    width: 50%;
    height: 80px;
    margin: 2em auto;
    padding: 0;
    border: 1px solid red;
}

.social i{
    width: 35px;
    font-size: 15px;
    color: white;
    background: chocolate;
    padding: 10px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.social i:hover{
    transform: translateY(-10px);
}

.footer-contact-section {
    padding-bottom: 100px;
}

.footer-contact-section span { 
    color: white;
    font-size: 2em;
    display: block;
}








/*media section*/











@media only screen and (min-width:768px) {
    header {
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 50px;
    }

    .header-text-top h1 {
        font-size: 5em;
    }

    .header-text-top p {
        font-size: 2.5em;
    }

    .header-text-mid input {
        font-size: 1.8em;
    }

    .header-text-bottom {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .info-highlight-wrapper-chocolate, 
    .info-highlight-wrapper-navy {
        flex-direction: row;
    }

    .info-highlight-left h3 {
        font-size: 3.6em;
        max-width: 396.31px;
    }
    .info-highlight-left p {
        font-size: 2em;
        padding: 10px;
        max-width: 396.31px;
    }
    
    .calculator-bottom-wrapper {
        flex-direction: row;
    }

    .contact-section-wrapper {
        flex-direction: row;
    }

    .calculator-bottom-wrapper-right input {
        font-size: 1.8em;
    }

    /*form-page*/

    .inner-form-wrapper {
        width: 60vw;
    }

    .form-text {
        width: 80vw;
    }

    .form-text>h1 {
        font-size: 3em;
    }
    .form-text>p {
        font-size: 2.2em;
    }




    /*contact page*/
    .three-contacts-outer-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .three-contacts-inner-wrapper {
        width: 49vw;
        margin-bottom: 50px;
    }

    .town-contacts-card {
        width: 60vw;
    }

    .three-contacts-outer-wrapper-bottom {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .three-contacts-inner-wrapper-bottom {
        width: 49vw;
    }

}




@media only screen and (min-width: 1024px) {
    header {
        width: 80%;
    }
    
    .header-text-wrapper {
        width: 60%;
        text-align: left;
    }

    .navbar { 
        font-size: 2em;
    }

    .header-text-top h1 {
        font-size: 5em;
        margin: 50px 0px;
    }

    .header-text-top p {
        font-size: 3em;
    }

    .header-text-mid input {
        font-size: 2.5em;
        margin: 30px 0;
    }

    .header-text-bottom {
        flex-direction: row;
        justify-content: space-around;
    }

    .header-text-bottom h3 {
        font-size: 3em;
    }

    .header-text-bottom p {
        font-size: 2em;
        padding-bottom: 30px;
        max-width: 170px;
    }
    
    .info-highlight-wrapper-chocolate {
        width: 80vw;
        margin-right: 7%;
    }
    .info-highlight-wrapper-navy {
        width: 80vw;
        margin-left: 6%;
        margin-bottom: 50px;
    }

    .info-highlight-left h3 {
        font-size: 4.2em;
    }

    .info-highlight-left p {
        font-size: 2.5em;
    }

    .info-highlight h3 {
        font-size: 2.5em;
    }

    .info-highlight ul li {
        font-size: 1.8em;   
    }

    .calculator-outer-wrapper {
        padding-bottom: 50px;
     }

     .calculator-outer-heading > h2 {
        font-size: 4em;
     } 

     .calculator-inner-wrapper>h2 {
         font-size: 3em;
     }

    .calculator-inner-wrapper,
    .calculator-bottom-wrapper  { 
        width: 60vw;
        padding: 50px 0 50px 0; 
    }   

    .calculator-bottom-wrapper {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .calculator-price {
        font-size: 3em;
    }   

    .grid-section-header {
        font-size: 4em;
    }

    .mid-section { 
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-section-wrapper {
        width: 60vw; 
        justify-content: space-evenly;
    }

    /* product page */
    .hero-image-container{
        padding-top: 50px;
    }
    
    .info-container {
        justify-content: center;
        align-items: center;   
    }
    .info-container > p {
        width: 39vh;
        min-width: 532.73px;
    }

    .info-container > h3 {
        width: 39vh;
        font-size: 3em;
        line-height: 1em;
        min-width: 532.73px;
    }

    .info-container > h2 {
        width: 39vh;
        font-size: 4em;
        line-height: 1em;
        min-width: 532.73px;
    }   

    .img-container {
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        border:1px solid #242f62;
    }
    
    .img-container img {
        display: unset;
        width: 39vw;
    }

    .info-container input[type="submit"] {
        font-size: 2.5em;
    }

    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header-center {
        font-size: 3.5em;
    }

    .contact {
        flex-direction: row;
    }

    .contact-left  {
        margin: 50px;
    }
    .contact-left h3 {
        padding-top: 0px;
    }

    .small-grid-wrapper {
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    /*form page*/

    .form-container {
        display: flex;
    }

    .form-text {
        margin-top: 100px;
        width: 1000px;  
    }

    .form-text>h1 {
        font-size: 3.2em;
    }

    .outer-form-wrapper {
        width: 80vw;
        justify-content: flex-start;
        align-items: flex-start;
        flex-shrink: 2;
    }

    .inner-form-wrapper {
        margin-top: 500px;
    }


@media only screen and (min-width: 1416px) {
    .info-container > h2 {
        font-size: 4.5em;
        text-align: left;
        line-height: 1.5em;
    }
    .info-container > h3 {
        font-size: 3em;
        text-align: left;
        line-height: 1.5em;
    }
    .info-container > p {
        font-size: 2em;
    }

    .cards-container {
        width: 80vw;
    }

    .header-center { 
        font-size: 4em;
    }

    .product-flow {
        flex-direction: row;
    }

    .one{
        border-top: none;
        border-left: none;
        border-bottom: 1px solid chocolate;
        border-right: 1px solid chocolate;
    }

        .one p {
        padding-top: 4vh;
    }

    .small-grid-wrapper {
        max-width: 849.59px;
        padding-bottom: 50px;
    }


    /*contact page*/
    .contacts-map-section {
        flex-direction: row;
    }

    .contacts-map-section img {
        padding-right: 40px;
    }

    .town-contacts-header {
        font-size: 2.5em;
        padding: 20px 0;
    }


}


@media only screen and (min-width: 1500px) {
    .navbar { 
        font-size: 2.5em;
    }
    
    .mid-section { 
        width: 60vw;
        max-width: 1349px;
    }

    .header-text-bottom {
        justify-content: flex-start;
        margin-right: 10px;
    }

    .info-highlight-wrapper-chocolate, 
    .info-highlight-wrapper-navy {
        width: 60vw;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header-text-top h1 {
        font-size: 7em;
        margin: 80px 0px;
    }
}